.movie-details-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.movie-details-header {
  display: flex;
  justify-content: space-between;
}

.movie-details-poster {
  width: 40%;
  object-fit: cover;
}

.movie-details-trailer {
  width: 55%;
}

.movie-details-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.movie-details-info {
  background: white;
  padding: 20px;
}

.movie-details-rating,
.movie-details-user-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-details-average-rating {
  font-weight: bold;
}

.back-button {
  align-self: center;
  margin-top: 20px;
}

/* Add responsive design as needed */
@media (max-width: 768px) {
  .movie-details-header {
    flex-direction: column;
  }

  .movie-details-poster,
  .movie-details-trailer {
    width: 100%;
  }
}
